<div class="container-fluid">
    <div class="row">
        <mat-card class="col-md-4">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>New Task</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Task 1
              </p>
              <p>
                Task 2
              </p>
              <p>
                Task 3
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary">Add</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="col-md-4">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Tasks in process</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Task 1
              </p>
              <p>
                Task 2
              </p>
              <p>
                Task 3
              </p>
            </mat-card-content>
          </mat-card>
          <mat-card class="col-md-4">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Task got done</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>
                Task 1
              </p>
              <p>
                Task 2
              </p>
              <p>
                Task 3
              </p>
            </mat-card-content>
          </mat-card>
    </div>
</div>
